beautifulsoup>=3.2
django==1.5
django-choices>=1.1.9
South>=0.7.3
proxytypes>=0.9
psycopg2>=2.4.1
pysolr>=2.0
python-magic
djangorestframework>=2.0
simplejson
jinja2>=2.6
django-filter>=0.5.4
johnny-cache==1.4
python-memcached==1.53
boto==2.17
django-storages==1.1.8
uwsgi
unicodecsv
