beautifulsoup>=3.2
django>=1.4
django-haystack>=1.2.5
South>=0.7.3
proxytypes>=0.9
psycopg2>=2.4.1
pysolr>=2.0
python-magic
djangorestframework==0.3.3
simplejson
gunicorn
fabric
cuisine
cuisine-postgresql
jinja2>=2.6
python-memcached
