//@import 'bootstrap/bootstrap';
@import 'chosen.css.less';

body {
    background-image: url(/static/img/backgrounds/handmadepaper.png);
    padding-top: 70px;
}

.about-us {
    img {
        float: left;
        margin: 0.5em 1em;
        border-radius: 50%;
    }
}

a {
    text-decoration: none;
}

.taxon-label {
    font-style: italic;
}

[data-image-detail] {
    cursor: pointer;
}

.specimen-result.standard {
    clear: both;
    min-height: 160px;
    .item-selection {
        float: left;
    }
    ul.image-thumbnails {
        float: left;
        list-style: none;
        li {
            display: inline-block;
        }
        figure {
            background-size: cover;
            background-repeat: none;
            display: inline-block;
            width: 200px;
            height: 150px;
            &:hover {
                box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.1);
            }
        }
    }
    .specimen-details {
        margin-left: 20px;
        h4 {
            margin-top: 0;
        }
    }
}

.specimen-result.tile {
    width: 28%;
    float: left;
    margin: 20px 2%;
    border-radius: 10px;
    color: #428bca;

    &:hover {
        box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
    }

    figure {
        height: 230px;
        background-size: contain;
        border-left: 1px solid #AAA;
        border-right: 1px solid #AAA;
    }
    img {
        width: 100%;
        border-left: 1px solid #AAA;
        border-right: 1px solid #AAA;
    }

    .item-selection {
        float: left;
    }
    .taxon {
        font-style: italic;
    }
    .institution {
    }

    .overlay-top, .overlay-bottom {
        background-color: rgba(66, 139, 202, 0.1);
        border: 1px solid rgba(66, 139, 202, 1);
        text-shadow: 0px 2px 3px white;
        font-weight: bold;
        padding: 8px;
        text-align: center;
    }

    .overlay-top {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .overlay-bottom {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}

.specimen-result.compact {
    min-height: 60px;

    .item-selection {
        float: left;
    }
    ul.image-thumbnails {
        float: left;
        list-style: none;
        li {
            display: inline-block;
        }
        figure {
            background-size: cover;
            background-repeat: none;
            display: inline-block;
            width: 80px;
            height: 60px;
            &:hover {
                box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.1);
            }
        }
    }

    & > div {
        display: inline-block;
    }

    // &:hover {
    //     box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
    //     background-color: rgba(0, 0, 0, 0.1);
    // }

    input.item-selection {
        display: inline-block;
        margin: 10px;
    }

}

.overlay-container {
    position: relative;
}

// .overlay-top {
//     position: absolute;
//     top: 0;
//     left: 0;
//     right: 0;
// }

// .overlay-bottom {
//     position: absolute;
//     bottom: 0;
//     left: 0;
//     right: 0;
// }

.image-fill-by (@size) {
    background-size: @size;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

#image-detail-dialog {
    .modal-header {
        .image-full-link {
            margin-right: 15px;
            margin-top: 0;
        }
    }
    .modal-body figure {
        min-height: 600px;
        .image-fill-by(cover);
        width: 100%;
    }
}

#taxon-filter-dialog {
    .taxa-choices {
        max-height: 400px;
        overflow-y: auto;
    }
}
