//@import 'bootstrap/bootstrap';
@import 'chosen.css.less';

@faint-gray-highlight: rgba(0, 0, 0, 0.05);

body {
    background-image: url(/static/img/backgrounds/handmadepaper.png);
    padding-top: 70px;
}

.light-header {
    h1, h2, h3, h4, h5, h6 {
        background-color: @faint-gray-highlight;
        border-radius: 5px;
        padding: 0.1em 1em;
    }
}

.navbar-brand {
    .fa {
        margin-left: 1em;
        margin-right: 0.5em;
    }
}

.navbar-fixed-top {
    li.active {
        background-color: @faint-gray-highlight;
    }
}

body.about {
    .light-header;

    .about-us {
        img {
            float: left;
            margin: 0.5em 1em;
            border-radius: 50%;
        }
    }
    .about-us-section {
        // clear: both;
    }

    p {
        padding: 0.1em 2em;
    }
}

a {
    text-decoration: none;
}

hr {
    border-top: 1px solid #CCC;
}

.taxon-label {
    font-style: italic;
}

[data-image-detail] {
    cursor: pointer;
}

.specimen-result.standard {
    clear: both;
    min-height: 160px;
    .item-selection {
        float: left;
    }
    ul.image-thumbnails {
        float: left;
        list-style: none;
        li {
            display: inline-block;
        }
        figure {
            background-size: 100% 100%;
            background-repeat: none;
            display: inline-block;
            width: 200px;
            height: 150px;
            &:hover {
                box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.1);
            }
            border-radius: 1em;
        }
    }
    .specimen-details {
        margin-left: 20px;
        h4 {
            margin-top: 0;
        }
    }
}

.specimen-result.tile {
    width: 28%;
    float: left;
    margin: 20px 2%;
    border-radius: 10px;
    color: #428bca;

    &:hover {
        box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
    }

    figure {
        height: 230px;
        background-size: 100% 100%;
        border-left: 1px solid #AAA;
        border-right: 1px solid #AAA;
    }
    img {
        width: 100%;
        border-left: 1px solid #AAA;
        border-right: 1px solid #AAA;
    }

    .item-selection {
        float: left;
    }
    .taxon {
        font-style: italic;
    }
    .institution {
    }

    .overlay-top, .overlay-bottom {
        background-color: rgba(66, 139, 202, 0.1);
        border: 1px solid rgba(66, 139, 202, 1);
        text-shadow: 0px 2px 3px white;
        font-weight: bold;
        padding: 8px;
        text-align: center;
    }

    .overlay-top {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .overlay-bottom {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}

.specimen-result.compact {
    min-height: 60px;

    .item-selection {
        float: left;
    }
    ul.image-thumbnails {
        float: left;
        list-style: none;
        li {
            display: inline-block;
        }
        figure {
            background-size: 100% 100%;
            background-repeat: none;
            display: inline-block;
            width: 80px;
            height: 60px;
            &:hover {
                box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.1);
            }
        }
    }

    & > div {
        display: inline-block;
    }

    // &:hover {
    //     box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
    //     background-color: rgba(0, 0, 0, 0.1);
    // }

    input.item-selection {
        display: inline-block;
        margin: 10px;
    }

}

.overlay-container {
    position: relative;
}

// .overlay-top {
//     position: absolute;
//     top: 0;
//     left: 0;
//     right: 0;
// }

// .overlay-bottom {
//     position: absolute;
//     bottom: 0;
//     left: 0;
//     right: 0;
// }

.image-fill-by (@size) {
    background-size: @size;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

#image-detail-dialog {
    .modal-header {
        .image-full-link {
            margin-right: 15px;
            margin-top: 0;
        }
    }
    .modal-body figure {
        min-height: 600px;
        .image-fill-by(cover);
        width: 100%;
    }
}

#taxon-filter-dialog {
    .taxa-choices {
        max-height: 400px;
        overflow-y: auto;
    }
}

// Start search page header styles
.search-results-header-controls {
    margin: 0 1em; 

    .results-per-page {
        display: inline-block;
        margin-right: 1em;
    }
}

.dropdown-menu li {
    text-align: left; 
}

.standard-view-header {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    width: 100%;
    background-color: #FAFAFA;
    height: 2em;
    line-height: 1.8em;
    color: slategray;

    .header-column {
        float: left;
        // border-top: 1px solid gray;
        // border-bottom: 1px solid gray;
        text-align: center;
    }
    .selector {
        width: 50px; 
    }
    .superior {
        width: 206px;
    }
    .lateral {
        width: 206px;
    }
    .details {
        width: 674px; 
    }
}
// End search page header styles

// Start search page footer styles 
.search-results-footer {
    text-align: center;
}
// End search page footer styles 

// Start download page styles

body.download {
    .light-header;
    p {
        padding: 0.1em 2em;
    }
}

.dataset-option {
    border: 1px solid #DDD;
    border-radius: 0.5em;
    box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.1);
    padding: 0.5em;
    margin: 0.5em;
    cursor: pointer;
    display: block;
    background-color: whitesmoke;

    &.selected {
        box-shadow: inset 0 0 5px 0px rgba(0, 0, 0, 0.1);
        background-color: aliceblue;
    }

    .radio-container {
        float: left;
        margin-top: 3.4em;
        margin-left: 2em;
    }

    dl {
        margin-bottom: 0.75em;
    }
    dt, dd {
        display: inline-block;
    }

    .info {
        display: inline-block;
        margin-left: 2em;
    }
        
    p {
        font-weight: lighter;    
    }
}

.dataset-download-controls {
    text-align: center;
    margin: 1em 0 2em 0;
}

.btn.dataset-download {
    padding: 0;
    line-height: 2em;
    font-size: 2em;
    width: 50%;
}

// End download page styles
