{% load static from staticfiles %}
<html>
    <head>
        <title>
            {% block title %}Primate Radiograph Database | Terry Ritzman{% endblock %}
        </title>

        {% block header_resources %}
            <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
            <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css" rel="stylesheet">
            <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
            <link href="{% static 'gen/css/radiograph.css' %}" rel="stylesheet">
        {% endblock %}
    </head>
    <body class="container">
        {% block header %}
            <ul>
                {% for item in mainmenu %}
                    <li><a href="{{ item.link }}">{{ item.label }}</a></li>  
                {% endfor %}
            </ul>
        {% endblock %}
        {% block content %}{% endblock %}
        {% block footer %}{% endblock %}
        {% block scripts %}
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
            <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.2.1/lodash.min.js"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>
            <script src="{% static 'gen/js/radiograph.js' %}"></script>
        {% endblock %}
    </body>
</html>
