{% extends "radiograph/base.html" %}
{% load url from future %}
{% load static from staticfiles %}
{% load paginate from radiograph %}

{% block content %}

<div id="results-target"></div>

<div class="row panel panel-default">
    <form class="search-form" method="GET">
        <div class="span12">

            <div class="search-results-header row panel-heading">
                <div class="search-results-header col-md-2">
                     <span class="dropdown">
                         <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                             <input type="checkbox" class="item-selector"/>
                             <span class="caret"></span>
                         </a>
                         <ul class="dropdown-menu">
                             <li>
                                 <a href="#" class="item-selection-all">
                                     <i class="fa fa-ok"></i>
                                     Select All
                                 </a>
                             </li>
                             <li>
                                 <a href="#" class="item-selection-none">
                                     <i class="icon-remove"></i>
                                     Select None
                                 </a>
                             </li>
                             <li>
                                 <a href="#" class="item-selection-invert">
                                     <i class="icon-resize-full"></i>
                                     Invert Selection
                                 </a>
                             </li>
                         </ul>
                     </span>
                </div>

                <div class="pagination-toolbar col-md-6">

                    <ul class="pagination">
                        {% for pnav in search_form.results_page|paginate %}
                        <li {% if pnav.is_current %}class="active"{% endif %}>
                                    <a href="?page={{ pnav.page_number }}" data-value="{{ pnav.page_number }}">{{ pnav.display }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="col-md-3 pull-right">
                    {# View Selector #}
                    <div class="btn-group select-view">
                        <a href="#" title="Standard" data-value="standard" class="btn btn-small
                            {% if search_form.view.value == 'standard' %}active{% endif %}">
                            <i class="fa fa-th-list"></i>
                        </a>
                        <a href="#" title="Compact" data-value="compact" class="btn btn-small
                            {% if search_form.view.value == 'compact' %}active{% endif %}">
                            <i class="fa fa-align-justify"></i>
                        </a>
                        <a href="#" title="Tiled" data-value="tiled" class="btn btn-small
                            {% if search_form.view.value == 'tiled' %}active{% endif %}">
                            <i class="fa fa-th"></i>
                        </a>
                    </div>
                    <input type="hidden" name="view" value="{{ search_form.view.value }}"/>
                </div>

                {# Results per page selector #}
                {% comment %}
                Showing 
                <div class="results">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <span class="results-per-page">20</span>
                        <span class="caret"></span>
                    </a>
                    
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#" data-value="10">10</a></li>
                        <li><a href="#" data-value="20">20</a></li>
                        <li><a href="#" data-value="50">50</a></li>
                        <li><a href="#" data-value="100">100</a></li>
                    </ul>
                </div> results per page
                <input type="hidden" name="results" value="{{ search_form.results.value }}"/>

                {# Taxon Sort/Filter #}
                <span class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Taxon
                        <span class="caret"></span>
                    </a>
                    <div class="dropdown-menu">
                        <ul>
                            <li>Tree</li>
                            <li>Goes</li>
                            <li>Here</li>
                        </ul>
                    </div>
                </span>
                <input type="hidden" name="taxa" value="{{ search_form.taxa.value }}"/>

                {# Sex Sort/Filter #}
                <span class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Sex
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">
                                <input id="filter-sex-male" type="checkbox"/>
                                <label for="filter-sex-male">Male</label>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <input id="filter-sex-female" type="checkbox"/>
                                <label for="filter-sex-female">Female</label>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <input id="filter-sex-unknown" type="checkbox"/>
                                <label for="filter-sex-unknown">Unknown/Unspecified</label>
                            </a>
                        </li>
                    </ul>
                </span>
                <input type="hidden" name="sex" value="{{ search_form.sex.value }}"/>
                {% endcomment %}

            </div>
            
            <div class="search-results panel-body">
                {% with search_form.view.value|default:search_form.view.field.initial as result_view %}
                    {% for specimen in search_form.results_page.object_list %}
                        {% with "radiograph/specimen-result-"|add:result_view|add:".html" as result_template %}
                        {% include result_template %}
                        {% endwith %}
                    {% endfor %}
                {% endwith %}
            </div>
            
            <div class="search-results-footer row">
                <div class="pagination-toolbar col-md-6">

                    <ul class="pagination">
                        {% for pnav in search_form.results_page|paginate %}
                        <li {% if pnav.is_current %}class="active"{% endif %}>
                            <a href="?page={{ pnav.page_number }}" data-value="{{ pnav.page_number }}">{{ pnav.display }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="tree"></div>

{% endblock %}

{% block header_resources %}
    {{ block.super }}
    {# <link type="text/css" rel="stylesheet" href="{% static 'yui/build/treeview/assets/skins/sam/treeview.css' %}"/> #}
{% endblock %}

{% block scripts %}
    {{ block.super }}

    <script type="text/javascript">
        var searchForm = new Radiograph.Views.SpecimenSearchForm({ el: 'form.search-form'});
        searchForm.render();
    </script>

    <!--script type="text/javascript" 
    src="{% static 'yui/build/yahoo-dom-event/yahoo-dom-event.js' %}">
    </script>

    <script type="text/javascript"
        src="{% static 'yui/build/treeview/treeview-min.js' %}"></script>

    <script type="text/javascript">
        var tv = new YAHOO.widget.TreeView("tree");
        var root = tv.getRoot();
        var child1 = new YAHOO.widget.TextNode("Node 1", root, false);
        var child2 = new YAHOO.widget.TextNode("Node 2", root, false);
        tv.draw();
    </script-->
{% endblock %}

