{% extends "radioapp/base.html" %}
{% load url from future %}

{% block content %}

<div id="results-target"></div>

<div class="btn-toolbar">
    <div class="btn-group">
        <a class="btn btn-small" href="#">
            <i class="icon-download"></i>
            Download
        </a>
        <a class="btn btn-small show-modal" href="#">
            Show Modal
        </a>
    </div>
    <div class="btn-group">
        {% if request.user.is_authenticated %}
        <a class="btn btn-small dropdown-toggle" data-toggle="dropdown">
            <i class="icon-user"></i>
            {{ request.user.first_name }}
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>
            <a href="{% url 'logout' %}">
                <i class="icon-off"></i>
                Log Out
            </a>
            </li>
        </ul>
        {% else %}
        <a class="btn btn-small" href="{% url "login" %}?next={{ request.path }}">
            <i class="icon-user"></i>
            Sign In
        </a>
        {% endif %}
    </div>
</div>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="pagination-toolbar">
                <span class="pagination">
                    {% include "radioapp/partials/pagination.html" %}
                </span>

                Showing 
                <span class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <span class="results-per-page">20</span>
                        <span class="caret"></span>
                    </a>
                    
                    <ul class="dropdown-menu">
                        <li><a href="#">10</a></li>
                        <li><a href="#">20</a></li>
                        <li><a href="#">50</a></li>
                        <li><a href="#">100</a></li>
                        <li><a href="#">&#x221e;</a></li>
                    </ul>
                </span> results per page
            </div>

            <table class="table table-condensed table-striped">
                <col width="10%"/>
                <col/>
                <col width="10%"/>
                <col width="20%"/>
                <col width="25"/>
                <tr>
                    <th>
                        <span class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <input type="checkbox" class="item-selector"/>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#" class="item-selection-all">
                                        <i class="icon-ok"></i>
                                        Select All
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="item-selection-none">
                                        <i class="icon-remove"></i>
                                        Select None
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="item-selection-invert">
                                        <i class="icon-resize-full"></i>
                                        Invert Selection
                                    </a>
                                </li>
                            </ul>
                        </span>
                    </th>
                    <th>
                        <!--div class="span2">
                            {% for facet in facets %}
                              <h3>{{ facet.label }}</h3>
                              {% for value, count in facet.values %}
                              <span>{{ value }} ({{ count }})</span></br>
                              {% endfor %}
                            {% endfor %}
                        </div-->
                        <span class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Taxon
                                <span class="caret"></span>
                            </a>
                            <div class="dropdown-menu">
                                <h1>Surprise!!!</h1>
                            </div>
                            <!--ul class="dropdown-menu">
                                <li>Sort</li>
                                <li>Filter</li>
                            </ul-->
                        </span>
                    </th>
                    <th>
                        <span class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Sex
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">
                                        <input id="filter-sex-male" type="checkbox"/>
                                        <label for="filter-sex-male">Male</label>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <input id="filter-sex-female" type="checkbox"/>
                                        <label for="filter-sex-female">Female</label>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <input id="filter-sex-unknown" type="checkbox"/>
                                        <label for="filter-sex-unknown">Unknown/Unspecified</label>
                                    </a>
                                </li>
                            </ul>
                        </span>
                    </th>
                    <th>Images</th>
                    {% if request.user.is_staff %}
                    <th>
                        <a class="btn btn-small" href="{% url 'specimen-new' %}"
                           title="Add New Specimen">
                            <i class="icon-plus"></i>
                        </a>
                    </th>
                    {% endif %}
                </tr>
                {% for specimen in page.object_list %}
                <tr>
                    <td>
                        <input type="checkbox" class="item-selection"
                            value="{{ specimen.object.id }}"/>
                    </td>
                    <td>
                        {% for tnode in specimen.object.taxon.hierarchy %}
                        {% if tnode.level > 6 %}
                        <span class="taxon taxon-{{ tnode.get_level_display|lower }}">{{ tnode.name }} </span>
                        {% endif %}
                        {% endfor %}
                    </td>
                    <td>{{ specimen.sex }}</td>
                    <td>
                        <a href="#">Lateral</a>
                        <a href="#">Superior</a>
                    </td>
                    {% if request.user.is_staff %}
                    <td>

                        <a class="btn" title="Edit Specimen"
                           href="{% url 'specimen-edit' specimen.object.id %}">
                            <i class="icon-edit"></i> 
                        </a>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </table>
            <div class="pagination">
                {% include "radioapp/partials/pagination.html" %}
            </div>
        </div>
    </div>
</div>

<div id="tree"></div>

{% endblock %}

{% block header_resources %}
{{ block.super }}
{# <link type="text/css" rel="stylesheet" href="/static/yui/build/treeview/assets/skins/sam/treeview.css"/> #}
<link type="text/css" rel="styleshee" href="static/css/radiograph.css"/>
<style type="text/css">
</style>
{% endblock %}

{% block scripts %}
{{ block.super }}

<script type="text/javascript">
    var radioapp = require('radioapp');

    $(function() {
        var itemSelector = $('input.item-selector');
        var itemSelections = $('input.item-selection');
        var toggleItemSelection = function() {
            return itemSelector.is(':checked') ? selectAll() : selectNone();
        };
        var selectAll = function() {
            itemSelections.add(itemSelector).attr('checked', 'checked');
        };
        var selectNone = function() {
            itemSelections.add(itemSelector).removeAttr('checked');
        };
        var invertSelection = function() {
            itemSelections.each(function(idx, i) {
                i = $(i);
                if(i.is(':checked'))
                    i.removeAttr('checked');
                else
                    i.attr('checked', 'checked');
            });
        };
        $('input.item-selector').click(function(e) {
            e.stopPropagation();
            toggleItemSelection();
        });

        $('.item-selection-all').click(function(e) { 
            selectAll();
            });
        $('.item-selection-none').click(function(e) { 
            selectNone();
            });
        $('.item-selection-invert').click(function(e) { 
            invertSelection();
            });

        var results = new radioapp.SpecimenResults({model: radioapp.App}).render().$el;
        $('#results-target').replaceWith(results);
    });
</script>

<!--script type="text/javascript" 
    src="/static/yui/build/yahoo-dom-event/yahoo-dom-event.js">
</script>

<script type="text/javascript"
        src="/static/yui/build/treeview/treeview-min.js"></script>

<script type="text/javascript">
    var tv = new YAHOO.widget.TreeView("tree");
    var root = tv.getRoot();
    var child1 = new YAHOO.widget.TextNode("Node 1", root, false);
    var child2 = new YAHOO.widget.TextNode("Node 2", root, false);
    tv.draw();
</script-->
{% endblock %}

