{% extends "radiograph/base.html" %}
{% load url from future %}
{% load static from staticfiles %}
{% load paginate from radiograph %}

{% block content %}

<div id="results-target"></div>

<div class="row panel panel-default">
    <form class="search-form" method="GET">
        <input type="hidden" name="page" value="{{ search_form.page.value|default:"" }}"/>
        <input type="hidden" name="view" value="{{ search_form.view.value|default:"" }}"/>
        {% comment %}
        <input type="hidden" name="sex" value="{{ search_form.sex.value|default:"" }}"/>
        <input type="hidden" name="results" value="{{ search_form.results.value|default:"" }}"/>
        <input type="hidden" name="taxa" value="{{ search_form.taxa.value|default:"" }}"/>
        {% endcomment %}

        <div class="span12">

            <div class="search-results-header row panel-heading">
                <div class="search-results-header-controls">
                    <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#taxon-filter-dialog">
                        <i class="fa fa-filter"></i> Filter: Taxon
                    </button>

                    <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#sex-filter-dialog">
                        <i class="fa fa-filter"></i> Filter: Sex
                    </button>

                    {% comment %}
                    <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#download-dialog">
                        <i class="fa fa-cloud-download"></i> Download
                    </button>
                    {% endcomment %}

                    {# View Selector #}
                    <div class="btn-group select-view pull-right" data-toggle="buttons">
                        <label class="btn btn-primary {% if search_form.view.value == 'standard' %}active{% endif %}"title="Standard">
                            <input type="radio" name="view" value="standard"/>
                            <i class="fa fa-th-list"></i>
                        </label>
                        <label class="btn btn-primary {% if search_form.view.value == 'compact' %}active{% endif %}" title="Compact">
                            <input type="radio" name="view" value="compact"/>
                            <i class="fa fa-align-justify"></i>
                        </label>
                        <label class="btn btn-primary {% if search_form.view.value == 'tiles' %}active{% endif %}" title="Tiles">
                            <input type="radio" name="view" value="tiles"/>
                            <i class="fa fa-th-large"></i>
                        </label>
                    </div>

                    {# Results per page selection #}
                    {% with results_per_page=search_form.results.value|default:search_form.fields.results.initial %}
                    <div class="results-per-page pull-right">
                        <div class="btn-group" data-field-container> <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown">
                                {{ results_per_page }} <span class="caret"></span>
                            </button>

                            <input type="hidden" name="results" value="{{ results_per_page }}"/>
                            <ul class="dropdown-menu" role="menu">
                                {% for value, label in search_form.fields.results.choices %}
                                <li><a href="#" data-field="results" data-value="{{ value }}">{{ label }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        results per page
                    </div>
                    {% endwith %}

                </div>

                {% comment %}
                <div class="pagination-toolbar">

                    <ul class="pagination">
                        {% for pnav in search_form.results_page|paginate %}
                        <li {% if pnav.is_current %}class="active"{% endif %}>
                            <a href="?page={{ pnav.page_number }}" data-value="{{ pnav.page_number }}">{{ pnav.display }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endcomment %}

            </div>

            {# Header for standard view #}
            {% with search_form.view.value|default:search_form.view.field.initial as result_view %}
            <div class="{{result_view}}-view-header">
                <div class="header-column selector dropdown">
                    {% if enable_selection %}
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      <input type="checkbox" class="item-selector">
                      <span class="caret"></span>
                    </a>
                     <ul class="dropdown-menu">
                         <li>
                             <a href="#" data-selection="all">
                                 <i class="fa fa-check-square-o"></i>
                                 Select All
                             </a>
                         </li>
                         <li>
                             <a href="#" data-selection="none">
                                 <i class="fa fa-square-o"></i>
                                 Select None
                             </a>
                         </li>
                         <li>
                             <a href="#" data-selection="invert">
                                 <i class="fa fa-check-square"></i>
                                 Invert Selection
                             </a>
                         </li>
                     </ul>
                     {% endif %}
                </div>
                <div class="header-column superior">Superior</div>
                <div class="header-column lateral">Lateral</div>
                <div class="header-column details">Details</div>
            </div>
            {% endwith %}
            
            <div class="search-results panel-body">


                {% with search_form.view.value|default:search_form.view.field.initial as result_view %}
                    {% for specimen in search_form.results_page.object_list %}
                        {% with "radiograph/specimen-result-"|add:result_view|add:".html" as result_template %}
                        {% include result_template %}
                        {% endwith %}
                    {% endfor %}
                {% endwith %}
            </div>
            
            <div class="search-results-footer row">
                <div class="pagination-toolbar">

                    <ul class="pagination">
                        {% for pnav in search_form.results_page|paginate %}
                        <li {% if pnav.is_current %}class="active"{% endif %}>
                            <a href="?page={{ pnav.page_number }}" data-value="{{ pnav.page_number }}">{{ pnav.display }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </form>
</div>

{# Sex filter dialog #}
<div id="sex-filter-dialog" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4><i class="fa fa-filter"></i> Filter by Sex</h4>
            </div>
            <div class="modal-body">
                {% for value, label in search_form.fields.sex.choices %}
                <input type="checkbox" name="sex" value="{{ value }}"/> {{ label }}<br/>
                {% endfor %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-action="clear-sex-filter">Clear Filter</button>
                <button type="button" class="btn btn-primary" data-action="apply-sex-filter">Apply Filter</button>
            </div>
        </div>
    </div>
</div>

{# Taxon filter dialog #}
<div id="taxon-filter-dialog" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4><i class="fa fa-filter"></i> Filter by Taxon</h4>
            </div>
            <div class="modal-body">
                <div class="taxa-choices">
                    {% for value, label in search_form.fields.taxa.choices %}
                    <label><input type="checkbox" name="taxa" value="{{ value }}"/> {{ label }}</label><br/>
                    {% endfor %}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-action="clear-taxon-filter">Clear Filter</button>
                <button type="button" class="btn btn-primary" data-action="apply-taxon-filter">Apply Filter</button>
            </div>
        </div>
    </div>
</div>

{# Download dialog #}
<div id="download-dialog" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4>Which data would you like to download?</h4>
            </div>
            <div class="modal-body">
                <label class="download-range-option">
                    <input type="radio" name="download-range-type" value="this-page"/>
                    Only selections on this page (20 images, approximately 34 MB)
                </label>

                <label class="download-range-option">
                    <input type="radio" name="download-range-type" value="all"/>
                    Selections for this query on all pages (123 images, approximately 178 MB)
                </label>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Nevermind</button>
                <button type="button" class="btn btn-primary">Download</button>
            </div>
        </div>
    </div>
</div>

{# Image detail dialog #}
<div id="image-detail-dialog" class="modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <a class="image-full-link close"
                    target="_blank"
                    title="Open full image in another tab"
                    data-action="viewFullImage">
                    <i class="fa fa-external-link"></i>
                </a>
                Image Detail
            </div>
            <div class="modal-body">
                <figure></figure>
            </div>
        </div>
    </div>
</div>

<div id="tree"></div>

{% endblock %}

{% block header_resources %}
    {{ block.super }}
    {# <link type="text/css" rel="stylesheet" href="{% static 'yui/build/treeview/assets/skins/sam/treeview.css' %}"/> #}
{% endblock %}

{% block scripts %}
    {{ block.super }}

    <script type="text/javascript">
        $(function() {
            var form = $('form.search-form'),
                pageInput = form.find('[name=page]'),
                viewInput = form.find('[name=view]')
            
            $('.pagination a').on('click', function(e) {
                e.preventDefault()
                e.stopPropagation()
                pageInput.val($(e.currentTarget).data('value'))
                form.submit()
            })

            $('[data-field=results]').on('click', function(e) {
                var value = $(e.currentTarget).data('value')
                    input = $(e.currentTarget)
                        .parents('[data-field-container]')
                        .find('[name=results]')
                input.val(value)

                // Reset page
                $('[name=page]').val('')
                form.submit()
            })

            $('[name=view]').on('change', function(e) {
                form.submit()
            })
    
            //=====================================
            // Search result selection tools
            //=====================================
            var selectAll = function() {
                $('.item-selection[type=checkbox]').prop('checked', true)
            }

            var selectNone = function() {
                $('.item-selection[type=checkbox]').prop('checked', false)
            }

            var invertSelection = function() {
                $('.item-selection[type=checkbox]').each(function(idx, elt) {
                    var $elt = $(elt)
                    $elt.prop('checked', !$elt.prop('checked'))
                })
            }

            $('[data-selection]').on('click', function(e) {
                var selectionOp = $(e.currentTarget).data('selection')
                if(selectionOp == 'all') {
                    selectAll()
                } else if(selectionOp == 'none') {
                    selectNone()
                } else if (selectionOp == 'invert') {
                    invertSelection()
                }
            });

            $('.item-selector[type=checkbox]').on('click', function(e) {
                e.stopPropagation()
                if($(e.currentTarget).is(':checked')) {
                    selectAll()
                } else {
                    selectNone()
                }
            });

            // Set up and launch preview modal
            $('[data-image-preview]').on('click', function(e) {
                var imageDetailModal = $('#image-detail-dialog'),
                    imageFigure = imageDetailModal.find('.modal-body figure')
                    imageFullLink = imageDetailModal.find('[data-action=viewFullImage]')
                    imageMediumURL = $(e.currentTarget).data('image-preview')
                    imageFullURL = $(e.currentTarget).data('image-full')

                imageFigure.css('background-image', 'url("' + imageMediumURL + '")')
                imageFullLink.attr('href', imageFullURL)
                imageDetailModal.modal();
            });

            // Set up filter dialogs
            $('[data-action=apply-taxon-filter]').on('click', function(e) {
                var selected = $(e.currentTarget)
                    .parents('.modal').find('input[type=checkbox]:checked');
                var selectedValues =_.map(selected, function(s) {
                    return s.value;
                });
                console.log(selectedValues);
            });

            $('[data-action=apply-sex-filter]').on('click', function(e) {
                var selected = $(e.currentTarget)
                    .parents('.modal').find('input[type=checkbox]:checked');
                var selectedValues =_.map(selected, function(s) {
                    return s.value;
                });
                console.log(selectedValues);
            });
        });
    </script>

    <!--script type="text/javascript" 
    src="{% static 'yui/build/yahoo-dom-event/yahoo-dom-event.js' %}">
    </script>

    <script type="text/javascript"
        src="{% static 'yui/build/treeview/treeview-min.js' %}"></script>

    <script type="text/javascript">
        var tv = new YAHOO.widget.TreeView("tree");
        var root = tv.getRoot();
        var child1 = new YAHOO.widget.TextNode("Node 1", root, false);
        var child2 = new YAHOO.widget.TextNode("Node 2", root, false);
        tv.draw();
    </script-->
{% endblock %}

