<html>
  <head>
    <title>
        {% block title %}Radiograph Database - Terry Ritzman{% endblock %}
    </title>
    {% block header_resources %}
    <link rel="stylesheet" href="/static/css/radioapp.css"/>
    {% endblock %}
  </head>
  <body>
    {% block header %}{% endblock %}
    {% block content %}{% endblock %}
    {% block footer %}{% endblock %}
    {% block scripts %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js">type="text/javascript"></script>
    <!--script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js">type="text/javascript"></script-->
    <script src="/static/js/radioapp.js" type="text/javascript"></script>
    <script type="text/javascript">
      _ = require('underscore')._
      Backbone = require('backbone')
      require('jquery.csrf');

      _.extend(window, {{ exports|safe }});
    </script>
    
    {% endblock %}
  </body>
</html>
