{% extends "radioapp/base.html" %}
{% load jsonify from radioapp %}

{% block title %}Radiograph Database{% endblock %}

{% block scripts %}
    {{ block.super }}

    <script type="text/javascript">
        var views = require('radioapp/views');
        var models = require('radioapp/models');
        var util = require('radioapp/util');

        window.App = _.extend({}, Backbone.Events)
        App.user = new models.User({{ user|jsonify }});
        App.alerts = new util.Alerts();
        App.view = new views.AppView();
        App.links = {{ links|jsonify }};

        $(function() {
            var specimens = new models.SpecimenCollection({{ specimens|jsonify }}, {parse: true});
            $(document).find('body').append(App.view.render().$el);

            var specimenSearchPane = new views.SpecimenSearchPane({model: specimens});
            App.view.pushPane(specimenSearchPane);

            App.alerts.publish('success', 'Welcome!')
        });
    </script>
{% endblock %}

