{% extends "radioapp/base.html" %}
{% load url from future %}

{% block title %}Edit Specimen{% endblock %}

{% block content %}
<form class="form-horizontal" method="post"
    {% if form.instance %}
    action="{% url "specimen" form.instance.id %}"
    {% else %}
    action="{% url "specimen-list" %}"
    {% endif %}>
    {% csrf_token %}

    {# Institution choice #}
    <div class="control-group">
        <label class="control-label" for="institution-choice">
            {{ form.institution.label }}
        </label>
        <div class="controls">
            {{ form.institution }}
        </div>
    </div>

    {# Specimen id textbox #}
    <div class="control-group">
        <label class="control-label" for="specimen-id">
            {{ form.specimen_id.label }}
        </label>
        <div class="controls">
            {{ form.specimen_id }}
        </div>
    </div>

    {# Taxon choice #}
    <div class="control-group">
        <label class="control-label" for="taxon-choice">
            {{ form.taxon.label }}
        </label>
        <div class="controls">
            {{ form.taxon }}
        </div>
    </div>

    {# Sex choice #}
    <div class="control-group">
        <label class="control-label" for="sex-choice">
            {{ form.sex.label }}
        </label>
        <div class="controls">
            {{ form.sex }}
        </div>
    </div>

    {# Machine settings textbox #}
    <div class="control-group">
        <label class="control-label" for="settings">
            {{ form.settings.label }}
        </label>
        <div class="controls">
            {{ form.settings }}
        </div>
    </div>

    {# Comments text area #}
    <div class="control-group">
        <label class="control-label" for="comments">
            {{ form.comments.label }}
        </label>
        <div class="controls">
            {{ form.comments }}
        </div>
    </div>


    {# Image files #}
    <div class="control-group">
        <label class="control-label">Images</label>
        <div class="controls form-inline image-controls">
            <div id="image-controls">
                {% for image in images_form %}
                    <div class="image-control">
                        {{ image.id }}
                        {{ image.aspect }}
                        {{ image.image_full }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    </fieldset>

    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Save</button>
        <button class="btn btn-primary">Save and Enter Another</button>
        <a class="btn" href="/">Discard</a>
    </div>

</form>
{% endblock %}

{% block header_resources %}
    {{ block.super }}
    <link rel="stylesheet" href="/static/chosen/chosen.css">
    <style type="text/css">
        input { box-sizing: content-box; }
        .image-action {
            font-weight: bold;
        }
        .chzn-container .chzn-single { background-image: none; }
        a.fileinput-button { display: inline-block; }
        .fileinput-button {
            position: relative;
            overflow: hidden;
            /*float: left;*/
            margin-right: 4px;
        }
        .fileinput-button input {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            border: solid transparent;
            border-width: 0 0 100px 200px;
            opacity: 0;
            filter: alpha(opacity=0);
            -moz-transform: translate(-300px, 0) scale(4);
            direction: ltr;
            cursor: pointer;
        }
        ul.dropdown-menu { overflow: hidden; }
        ul.dropdown-menu a { width: 100%; }
    </style>
{% endblock %}

{% block scripts %}

{{ block.super }}

<script type="text/javascript" src="/static/js/underscore-min.js"></script>
<script type="text/javascript" src="/static/js/backbone.js"></script>
<script type="text/javascript" src="/static/chosen/chosen.jquery.min.js"></script>
<script type="text/javascript" src="/static/js/image-control.js"></script>
<script type="text/javascript" src="/static/js/radiograph.js"></script>

<script type="text/javascript">
    $(function() {
        $('.taxon-autocomplete').chosen();
        var imagesView = new ImagesView({el: '#image-controls'});
        //var imageView = new ImageView({model: {}, el: '#image-controls'}, {parse: true});
        //imageView.render();
    });
</script>

{% endblock %}
