{% extends "radioapp/base.html" %}

{% block title %}{% endblock %}

{% block content %}


{% for obj in page.object_list %}
<h3>{{ obj.species }}</h3>
{% for image in obj.images %}
<a href="#">{{ image }}</a>
{% endfor %}
{% endfor %}

<div class="row">
    <div class="span5">
        {% for facet in facets %}
          <h3>{{ facet.label }}</h3>
          {% for value, count in facet.values %}
          <span>{{ value }} ({{ count }})</span></br>
          {% endfor %}
        {% endfor %}
    </div>

    <div class="span11">
        {% for specimen in results %}
        {% include 'radioapp/specimen_result.html' %}
        {% endfor %}
    </div>
</div>

{% endblock %}

{% block header_resources %}
<link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
{% endblock %}
